@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-grey-light: #f6f7f9; 
  --color-grey-dark: #98a0ab; 
}